APP_NAME=plisio-bridge
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=plisio_bridge
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_AUTH=

EPAY_PID=
EPAY_KEY=
PLISIO_API_KEY=
PLISIO_API_URL=https://plisio.net/api/v1
DEFAULT_COIN=USDT_TRX
ALLOWED_COINS=USDT,USDT_TRX,USDT_BSC,USDT_TON,USDT_SOL
APP_URL=
